<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/b.css">
</head>

<body>
  <div data-v-f114a4b4="" id="checkout">
    <div data-v-5085e2e2="" class="Legal" head="true">
      <div data-v-3f523738="" data-v-5085e2e2="" class="header el-row">
        <div data-v-3f523738="" class="header-hotel">酒店名称</div>
        <div data-v-3f523738="" class="header-title">结账单</div>
      </div>
      <div data-v-5085e2e2="" class="el-row">
        <div data-v-5085e2e2="" class="el-col el-col-24">
          <div data-v-5d3805b1="" data-v-5085e2e2="" class="diana-label">
            <div data-v-5d3805b1="" class="diana-print-label" style="width: 30px; text-align: left;">账号</div>
            <div data-v-5d3805b1="" class="diana-print-content" style="margin-left: 35px;"></div>
          </div>
        </div>
        <div data-v-5085e2e2="" class="el-col el-col-12">
          <div data-v-5d3805b1="" data-v-5085e2e2="" class="diana-label">
            <div data-v-5d3805b1="" class="diana-print-label" style="width: 30px; text-align: left;">姓名</div>
            <div data-v-5d3805b1="" class="diana-print-content" style="margin-left: 35px;"> </div>
          </div>
        </div>
        <div data-v-5085e2e2="" class="el-col el-col-12">
          <div data-v-5d3805b1="" data-v-5085e2e2="" class="diana-label">
            <div data-v-5d3805b1="" class="diana-print-label" style="width: 30px; text-align: left;">房号</div>
            <div data-v-5d3805b1="" class="diana-print-content" style="margin-left: 35px;"> </div>
          </div>
        </div>
        <div data-v-5085e2e2="" class="el-col el-col-24">
          <div data-v-5d3805b1="" data-v-5085e2e2="" class="diana-label">
            <div data-v-5d3805b1="" class="diana-print-label" style="width: 55px; text-align: left;">入住时间</div>
            <div data-v-5d3805b1="" class="diana-print-content" style="margin-left: 60px;"></div>
          </div>
        </div>
        <div data-v-5085e2e2="" class="el-col el-col-24">
          <div data-v-5d3805b1="" data-v-5085e2e2="" class="diana-label">
            <div data-v-5d3805b1="" class="diana-print-label" style="width: 55px; text-align: left;">离店时间</div>
            <div data-v-5d3805b1="" class="diana-print-content" style="margin-left: 60px;"></div>
          </div>
        </div>
        <div data-v-5085e2e2="" class="el-col el-col-24">
          <div data-v-5d3805b1="" data-v-5085e2e2="" class="diana-label">
            <div data-v-5d3805b1="" class="diana-print-label" style="width: 55px; text-align: left;">打印时间</div>
            <div data-v-5d3805b1="" class="diana-print-content" style="margin-left: 60px;"></div>
          </div>
        </div>
        <div data-v-5085e2e2="" class="el-col el-col-24">
          <div data-v-5d3805b1="" data-v-5085e2e2="" class="diana-label">
            <div data-v-5d3805b1="" class="diana-print-label" style="width: 55px; text-align: left;">收 款 人</div>
            <div data-v-5d3805b1="" class="diana-print-content" style="margin-left: 60px;"> </div>
          </div>
        </div>
      </div>
      <div data-v-5085e2e2=""
        class="el-table el-table--fit el-table--scrollable-x el-table--enable-row-hover el-table--enable-row-transition"
        min-height="5">
        <div class="hidden-columns">
          <div data-v-5085e2e2=""></div>
          <div data-v-5085e2e2=""></div>
          <div data-v-5085e2e2=""></div>
        </div>
        <div class="el-table__header-wrapper">
          <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 252px;">
            <colgroup>
              <col name="el-table_43_column_187" width="80">
              <col name="el-table_43_column_188" width="105">
              <col name="el-table_43_column_189" width="67">
              <col name="gutter" width="0">
            </colgroup>
            <thead class="has-gutter">
              <tr class="">
                <th colspan="1" rowspan="1" class="el-table_43_column_187     is-leaf">
                  <div class="cell">日期</div>
                </th>
                <th colspan="1" rowspan="1" class="el-table_43_column_188     is-leaf">
                  <div class="cell">项目</div>
                </th>
                <th colspan="1" rowspan="1" class="el-table_43_column_189     is-leaf">
                  <div class="cell">金额</div>
                </th>
                <th class="gutter" style="width: 0px; display: none;"></th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="el-table__body-wrapper is-scrolling-left">
          <table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 252px;">
            <colgroup>
              <col name="el-table_43_column_187" width="80">
              <col name="el-table_43_column_188" width="105">
              <col name="el-table_43_column_189" width="67">
            </colgroup>
            <tbody class="PrintPayment">

            </tbody>
          </table><!----><!---->
        </div>
        <div class="el-table__footer-wrapper" id="PrintPaymentFooter">
          <table cellspacing="0" cellpadding="0" border="0" class="el-table__footer" style="width: 252px;">
            <colgroup>
              <col name="el-table_43_column_187" width="80">
              <col name="el-table_43_column_188" width="105">
              <col name="el-table_43_column_189" width="67">
              <col name="gutter" width="0">
            </colgroup>
            <tbody class="has-gutter">
              <tr>
                <td colspan="1" rowspan="1" class="el-table_43_column_187 is-leaf">
                  <div class="cell">付款合计</div>
                </td>
                <td colspan="1" rowspan="1" class="el-table_43_column_188 is-leaf">
                  <div class="cell"></div>
                </td>
                <td colspan="1" rowspan="1" class="el-table_43_column_189 is-leaf">
                  <div class="cell"></div>
                </td>
                <th class="gutter" style="width: 0px; display: none;"></th>
              </tr>
            </tbody>
          </table>
        </div><!----><!----><!---->
        <div class="el-table__column-resize-proxy" style="display: none;"></div>
      </div>
      <div data-v-5085e2e2=""
        class="el-table el-table--fit el-table--scrollable-x el-table--enable-row-hover el-table--enable-row-transition"
        min-height="5">
        <div class="hidden-columns">
          <div data-v-5085e2e2=""></div>
          <div data-v-5085e2e2=""></div>
          <div data-v-5085e2e2=""></div>
        </div><!---->
        <div class="el-table__body-wrapper is-scrolling-left">
          <table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 252px;">
            <colgroup>
              <col name="el-table_44_column_190" width="80">
              <col name="el-table_44_column_191" width="105">
              <col name="el-table_44_column_192" width="67">
            </colgroup>
            <tbody class="PrintConsumption">
            </tbody>
          </table><!----><!---->
        </div>
        <div class="el-table__footer-wrapper" id="PrintConsumptionFooter">
          <table cellspacing="0" cellpadding="0" border="0" class="el-table__footer" style="width: 252px;">
            <colgroup>
              <col name="el-table_44_column_190" width="80">
              <col name="el-table_44_column_191" width="105">
              <col name="el-table_44_column_192" width="67">
              <col name="gutter" width="0">
            </colgroup>
            <tbody class="has-gutter">
              <tr>
                <td class="el-table_44_column_190 is-leaf">
                  <div class="cell">消费合计</div>
                </td>
                <td class="el-table_44_column_191 is-leaf">
                  <div class="cell"></div>
                </td>
                <td class="el-table_44_column_192 is-leaf">
                  <div class="cell" id="ConsumptionTotal1"></div>
                </td>
                <th class="gutter" style="width: 0px; display: none;"></th>
              </tr>
            </tbody>
          </table>
        </div><!----><!----><!---->
        <div class="el-table__column-resize-proxy" style="display: none;"></div>
      </div>
      <div data-v-5085e2e2="" class="declaration">
        <p data-v-5085e2e2="">
          本人同意对上述的款项承担个人责任、并在有关人士、公司或团体不能支付此账单款项的情况下，承担以上费用。
          如用中国境外发卡的信用卡支付，发卡行可能会将支付金额直接转换为发卡行所在国货币，转换之汇率将取决于银行之实时汇率，不在本酒店控制范围内。 早餐及会员卡一经出售概不退换，总金额已含税和服务费。
        </p>
      </div>
      <div data-v-5085e2e2="" class="seal">
        <div data-v-5d3805b1="" data-v-5085e2e2="" class="diana-label">
          <div data-v-5d3805b1="" class="diana-print-label" style="width: 90px; text-align: left;">宾客签名</div>
          <div data-v-5d3805b1="" class="diana-print-content" style="margin-left: 95px;">
            <div data-v-5085e2e2="" data-v-5d3805b1="" class="bottom-line"></div>
          </div>
        </div>
      </div>
      <div data-v-5085e2e2="" class="el-row">
        <div data-v-5085e2e2="" class="info">
          <div data-v-5085e2e2="" class="el-col el-col-24"><span data-v-5085e2e2="">地址:</span></div>
          <div data-v-5085e2e2="" class="el-col el-col-24"><span data-v-5085e2e2="">电话:</span></div>
          <div data-v-5085e2e2="" class="el-col el-col-12"><span data-v-5085e2e2="">邮编:</span></div>
          <div data-v-5085e2e2="" class="el-col el-col-12"><span data-v-5085e2e2="">传真:</span></div>
        </div>
      </div>
      <div data-v-0078adbe="" data-v-5085e2e2="" class="footer"></div>
    </div>
  </div>

  <script type="module" src="js/index.js"></script>
</body>

</html>