<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="js/index.js"></script>
    <style>
        body {
            font-family: SimHei;
            width: 100%;
            padding: 16px;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -khtml-user-select: none;
            user-select: none;
            background-color: #fff;
        }
        @media print {
            body {
                background-color: #fff;
                padding: 0;
            }
        }
    </style>
</head>

<body>
    <div role="none" class="n-scrollbar-container">
        <div role="none" class="n-scrollbar-content">
            <div data-v-1baf844f="" class="print-box" id="printBox">
                <div data-v-1baf844f="" style="font-size: 22px; text-align: center; font-weight: 500;">结账汇总单</div>
                <p data-v-1baf844f=""><span data-v-1baf844f="" style="margin-right: 10px;">订单号:</span><span
                        data-v-1baf844f="" id="orderNumber">JD09038175894217101</span></p>
                <p data-v-1baf844f=""><span data-v-1baf844f="" style="margin-right: 10px;">酒店名称:</span><span
                        data-v-1baf844f="" id="hotelName">尚客优品信阳固始邻里中心酒店</span></p>
                <p data-v-1baf844f=""><span data-v-1baf844f="" style="margin-right: 10px;">入住时间:</span><span
                        data-v-1baf844f="" id="checkinTime">2025-09-27 11:02:51</span></p>
                <p data-v-1baf844f=""><span data-v-1baf844f="" style="margin-right: 10px;">离店时间:</span><span
                        data-v-1baf844f="" id="checkoutTime">2025-09-30 12:00:00</span></p>
                <p data-v-1baf844f=""><span data-v-1baf844f="" style="margin-right: 10px;">打印时间:</span><span
                        data-v-1baf844f="" id="printTime">2025-09-29 14:37:32</span></p>
                <p data-v-1baf844f=""><span data-v-1baf844f="" style="margin-right: 10px;">客人姓名:</span><span
                        data-v-1baf844f="" id="customerName">祁勇胜</span></p>
                <p data-v-1baf844f=""><span data-v-1baf844f="" style="margin-right: 10px;">房号:</span><span
                        data-v-1baf844f="" id="roomNumber">8505</span></p>
                <div data-v-1baf844f="" id="tableHeader"
                    style="display: flex; border-top: 1px dashed rgb(0, 0, 0); border-bottom: 1px dashed rgb(0, 0, 0); padding: 5px 0px; margin-top: 20px;">
                    <div data-v-1baf844f="" style="flex: 1 1 0%;">房号</div>
                    <div data-v-1baf844f="" style="flex: 1 1 0%; text-align: center;">项目</div>
                    <div data-v-1baf844f="" style="flex: 1 1 0%; text-align: right;">金额</div>
                </div>
                <div data-v-1baf844f="" style="display: flex; padding: 5px 0px;">
                    <div data-v-1baf844f="" style="flex: 1 1 0%;">8505</div>
                    <div data-v-1baf844f="" style="flex: 1 1 0%; text-align: center;">夜审房费</div>
                    <div data-v-1baf844f="" style="flex: 1 1 0%; text-align: right;">136</div>
                </div>
                <div data-v-1baf844f="" style="display: flex; padding: 5px 0px;">
                    <div data-v-1baf844f="" style="flex: 1 1 0%;">8505</div>
                    <div data-v-1baf844f="" style="flex: 1 1 0%; text-align: center;">夜审房费</div>
                    <div data-v-1baf844f="" style="flex: 1 1 0%; text-align: right;">136</div>
                </div>
                <div data-v-1baf844f="" id="consumptionTotalRow"
                    style="display: flex; padding: 5px 0px; border-top: 1px dashed rgb(0, 0, 0); border-bottom: 1px dashed rgb(0, 0, 0); font-weight: bold;">
                    <div data-v-1baf844f="" style="flex: 1 1 0%;">消费合计</div>
                    <div data-v-1baf844f="" style="flex: 1 1 0%; text-align: right;" id="consumptionTotal">272</div>
                </div>
                <div data-v-1baf844f="" style="display: flex; padding: 5px 0px;">
                    <div data-v-1baf844f="" style="flex: 1 1 0%;">8505</div>
                    <div data-v-1baf844f="" style="flex: 1 1 0%; text-align: center;">押金</div>
                    <div data-v-1baf844f="" style="flex: 1 1 0%; text-align: right;">25</div>
                </div>
                <div data-v-1baf844f="" style="display: flex; padding: 5px 0px;">
                    <div data-v-1baf844f="" style="flex: 1 1 0%;">8505</div>
                    <div data-v-1baf844f="" style="flex: 1 1 0%; text-align: center;">押金</div>
                    <div data-v-1baf844f="" style="flex: 1 1 0%; text-align: right;">383</div>
                </div>
                <div data-v-1baf844f="" style="display: flex; padding: 5px 0px;">
                    <div data-v-1baf844f="" style="flex: 1 1 0%;">8505</div>
                    <div data-v-1baf844f="" style="flex: 1 1 0%; text-align: center;">押金</div>
                    <div data-v-1baf844f="" style="flex: 1 1 0%; text-align: right;">0</div>
                </div>
                <div data-v-1baf844f="" id="paymentTotalRow"
                    style="display: flex; padding: 5px 0px; border-top: 1px dashed rgb(0, 0, 0); border-bottom: 1px dashed rgb(0, 0, 0); margin-bottom: 20px; font-weight: bold;">
                    <div data-v-1baf844f="" style="flex: 1 1 0%;">收款合计</div>
                    <div data-v-1baf844f="" style="flex: 1 1 0%; text-align: right;" id="paymentTotal">408</div>
                </div>
                <p data-v-1baf844f="" style="margin-bottom: 10px;"><span data-v-1baf844f="">打印人：</span><span
                        data-v-1baf844f="" id="staffName">闫芝明</span></p>
                <p data-v-1baf844f=""><span data-v-1baf844f="">住客签名：</span></p>
            </div>
        </div>
    </div>
</body>

</html>